In [1]:
student = {'name':'Jon', 'age':25,'courses':['math','compsci']}

In [2]:
print(student)

{'name': 'Jon', 'age': 25, 'courses': ['math', 'compsci']}

In [3]:
student['courses']

['math', 'compsci']

In [4]:
student['courses'][0]

'math'

In [5]:
student.get('name')

'Jon'

In [9]:
student.get("doesn't exist", 'Not Found')

'Not Found'

In [10]:
student['phone']='555-5555'

In [11]:
student.get('phone')

'555-5555'

In [12]:
student['phone']='666-6666'

In [14]:
student.get('phone')

'666-6666'

In [15]:
student.update({'name':'Jack','age':26,'phone':'777-7777'})

In [16]:
print(student)

{'name': 'Jack', 'age': 26, 'courses': ['math', 'compsci'], 'phone': '777-7777'}

In [17]:
del student['age']

In [18]:
student

{'name': 'Jack', 'courses': ['math', 'compsci'], 'phone': '777-7777'}

In [22]:
phone = student.pop('phone')

In [23]:
phone

'777-7777'

In [24]:
len(student)

2

In [25]:
student

{'name': 'Jack', 'courses': ['math', 'compsci']}

In [26]:
student.keys()

dict_keys(['name', 'courses'])

In [27]:
student.values()

dict_values(['Jack', ['math', 'compsci']])

In [28]:
student.items()

dict_items([('name', 'Jack'), ('courses', ['math', 'compsci'])])

In [29]:
for key in student:
    print(key)

name
courses

In [32]:
for key, value in student.items():
    print(key,value)

name Jack
courses ['math', 'compsci']